// base colors, etc. Portfolio site

$primary-gray : #5b616b;

$light-gray: #aeb0b5;

$dark-gray: #323a45;

$primary-font : "merriweather_lightregular", sans-serif;

$button-font : 'Source Sans Pro', sans-serif; /* must use font-weight 700 */

